body{
    background:teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
h1{
  background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    margin:10px;
    padding:10px;
    text-align: left;
}
Header {
   
    margin: 20px;
    padding: 20px ;
    text-align: right;

}
Section {
      
    padding: 20px ;
    width: auto;
    text-align: center;   
}
footer{
    
    color: black;
    padding: 90px 20px ;
    text-align: center;

}
Div {
    background:
    width:10px ;
    margin: auto;
    display: inline;
}
Ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
section.tag-line {
    color:white ;
    width:100px;
    margin: 2px;
    font-size: 15px;
   
}

section.first{
    background:rgb(250, 240, 240);
    width: 100%;
    margin: 2px;
    text-align: left;
    color: black;
}
section.second{
    background:rgb(250, 240, 240);
    width: 100%;
    margin: 2px;
    text-align: left;
    color: black;
}
footer.third{
    background:;
    color:white;
    font-size: px;
    text-align: left;
}




/*Responsive rules*/
@media screen and  (mini-width: 900px)
Header{   
 
}

@media (min-width: 500px) {
    h1{
         text-align: left;  
}
    Header {
        margin: 15px;
        padding: 15px ;
        text-align: center;
    
}
